#Açıklama: Render deployment için optimize edilmiş Python bağımlılıkları
#Sadece CPU destekli PyTorch versiyonları (Daha az RAM kullanır)
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu

#Diğer gerekli kütüphaneler
ultralytics 
numpy 
opencv-python-headless 
Flask 
requests 
gunicorn 
Pillow 
flask-cors
